<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(itemName){ %>
            <form action="/delete" method="post">
                <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= itemName._id %>" onchange="this.form.submit()">
                        <p><%= itemName.itemName %></p>
                </div>
            </form>
        <% }); %>
    
        <form method="post" action="/">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button style="padding-top: 8px;" type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>

    </body>
</html>